data/01_tmdb.csv
data/02_omdb.csv
data/03_awards_season.csv
data/master_dataset.csv
__pycache__/nominees_ground_truth.cpython-313.pyc
__pycache__/config.cpython-313.pyc
config.py
.Rproj.user
.Rhistory
_extensions/qmd-lab/closeread/_extension.yml
_extensions/qmd-lab/closeread/closeread.css
_extensions/qmd-lab/closeread/closeread.js
_extensions/qmd-lab/closeread/closeread.lua
_extensions/qmd-lab/closeread/closeread.scss
_extensions/qmd-lab/closeread/intersection-observer.js
_extensions/qmd-lab/closeread/scrollama.min.js
_extensions/qmd-lab/closeread/spacer.lua
Scripts/__pycache__/fetch_opening_week.cpython-313.pyc
Scripts/__pycache__/fetch_awards_season.cpython-313.pyc
Scripts/__pycache__/config.cpython-313.pyc
data/04_opening_week.csv
Scripts/__pycache__/build_master.cpython-313.pyc
